:root {
  font-size: 16px;
  --primary-color: hsl(8, 100%, 64%);

  --bg-color: hsl(12, 4%, 92%);
  --bg-card-color: hsl(12, 4%, 100%);

  --font-color: hsl(12, 4%, 8%);

  --icon-color: hsl(12, 4%, 8%);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  cursor: url('icons/cursor.svg') 4 4, auto;
}
